.container.main {
    align-self: center;
    width: 100%;
    color: #EEEEEE;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 14pt;
    min-height: 100vh;
    height: 100%;
    background-color: #111111;
}

.row.full-page {
    height: 100%;
    margin: 0;
}

.container.char-sub-view {
    margin: 0;
    width: 100%;
}

.row {
    margin: 20px;
}

li {
    margin-bottom: 10px;
}

#search-btn.btn {
    font-size: 14pt;
    font-weight: bold;
}

.navbar-header, .sidenav, .char-header {
    border: 5px solid transparent;
    border-radius: 12px;
}

.navbar-header.neutral, .sidenav.neutral, .char-header.neutral {
    background-color: #333333;
}

.navbar-header.red, .sidenav.red, .char-header.red {
    background-color: #660505;
}

.navbar-header.blue, .sidenav.blue, .char-header.blue {
    background-color: #111170;
}

a.link.btn {
    font-size: 14pt;
    font-weight: bold;
    background-color: #050505;
    width: 100%;
    padding:10px;
    border-radius: 12px;
}

a.link:hover, a.link:focus {
    background-color: #eee;
}

.navbar-header, .char-header {
    width: 100%;
    margin: 10px;
    padding: 5px;
}

.navbar-header a {
    color: #CCCCCC;
    margin-bottom: 10px;
}

.col-xs-3.sidenav {
    margin-top: 10px;
    padding: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    float: right;
    display: block;
    min-height: 135px;
}

.sidenav a {
    color: green;
    height: 50px;
    line-height: 30px;
}

.title-bar {
    font-size: 24pt;
    margin-top: 20px;
}

input.text-box {
    color:black;
}

div.avatar-slot{
    height: 200px;
}

.avatar {
    width: 200px;
    height: 200px;
    border: 5px solid transparent;
    border-radius: 30px;
}

#char-header {
    padding-left: 20px;
    margin-left: 0;
    margin-right: 15px;
    height: 135px;
}

#char-main-view {
    padding: 0;
    padding-right: 15px;
}

.text-box {
    border: 2px solid black;
    border-radius: 5px;
}

.text-row {
    height: 26px
}

.char-header .row {
    margin-top: 10px;
};

.thumbnail-sm-slot {
    height: 96px;
    padding-top: 20px;
}

.thumbnail-sm {
    height: 96px;
    width: 96px;
    border: 5px solid black;
    border-radius: 50px;
}

.row.skip-row {
    margin: 0;
}

.row.spacer {
    margin-top: 30px;
}

.row.sub-title {
    font-size: 16pt;
    font-weight: bold;
    text-decoration: underline;
}

.row.stat, .row.sub-title, .row.facts {
    margin: 0px;
    margin-top: 30px;
    margin-bottom: 30px;
    background: black;
}

.row.stat {
    cursor: help;
}

#loading-icon {
    position: fixed;
    right: .25%;
    bottom: .25%;
    height: 50px;
    width: 50px;
    z-index: 10;
}

#loading-icon img {
    height: 100%;
}

#title-logo {
    height: 45px;
    width: 45px;
    margin-right: 30px;
}

.output-log {
    font-size: 10pt;
    font-family: monospace;
    overflow-y: scroll;
    height: 350px;
    background: black;
    white-space: pre-wrap;
}

ul {
    list-style: none;
}

.sim-info {
    font-size: 12pt;
    padding-left: 20px;
}

.tab {
    border: 2px solid white;
    padding: 0;
}

div.tab:hover {
    background-color: white;
    color: black;
}
    
.tab.selected {
    color: black;
    background-color: #999999;
}