<div>
  <div ng-controller="CharacterMainCtrl as char">
    <div class="container char-main-view">

      <div class="row">
        <input type="text" placeholder="Server" data-ng-model="char.serverInput" ng-keyup="$event.keyCode == 13 ? char.getCharacter() : null"/> 
        <input type="text" placeholder="Character Name" data-ng-model="char.nameInput" ng-keyup="$event.keyCode == 13 ? char.getCharacter() : null"/>
      </div>

      <div class="row">
        <div data-ng-click="char.getCharacter(serverInput,nameInput)" class="btn btn-success">Search!</div>
      </div>
      <div class="row">
        <div data-ng-show='char.data'>
          <div class="text-center">{{char.data.name}} - {{char.data.realm}}</div>
          <br/>
          <div class="text-center"><img alt="Avatar" class="avatar" data-ng-src="{{char.thumbnail}}"/></div>
          <br/>
          <div class="text-center">Level {{char.data.level}} {{char.data.charClass}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
