<div>
  <div class="container char-main-view">

    <div class="row">
      <input type="text" class="text-box" placeholder="Server" data-ng-model="charMain.serverInput" ng-keyup="$event.keyCode == 13 ? charMain.submitRequest(serverInput,nameInput) : null"/>
      <input type="text" class="text-box" placeholder="Character Name" data-ng-model="charMain.nameInput" ng-keyup="$event.keyCode == 13 ? charMain.submitRequest(serverInput,nameInput) : null"/>
    </div>

    <div class="row">
      <div data-ng-click="charMain.submitRequest()" class="btn btn-success">Search!</div>
    </div>
    
    <div class="row">
      <div data-ng-show='charMain.data'>
        <div class="text-center">{{charMain.data.name}} - {{charMain.data.realm}}</div>
        <br/>
        <div class="text-center"><img alt="Avatar" class="avatar" data-ng-src="{{charMain.data.thumbUrl}}"/></div>
        <br/>
        <div class="text-center">Level {{charMain.data.level}} {{charMain.data.charRace}} {{charMain.data.charClass}}</div>
      </div>
    </div>
    
  </div>
</div>
