<div>
  <div class="container char-sub-view">
    
    <div class="row">
      <div id="char-search-display">
        <div class="text-center">{{char.getName() ? char.getName() + "-" + char.getRealm() : "&nbsp;"}}</div>
        <br/>
        <div class="text-center avatar-slot"><img alt="Avatar" data-ng-show="char.getThumbUrl()" class="avatar" data-ng-src="{{char.getThumbUrl()}}"/></div>
        <br/>
        <div class="text-center text-row">
          <div data-ng-show='char.getLevel() && char.getRace() && char.getClass()'>Level {{char.getLevel()}} {{char.getRace()}} {{char.getClass()}}</div>
        </div>
      </div>
    </div>
    
    <div ng-controller="CharacterSearchCtrl as search">
      <div class="row">
        <input type="text" class="text-box" placeholder="Server" data-ng-model="search.serverInput" ng-keyup="$event.keyCode == 13 ? search.getNewCharacter() : null"/>
        <input type="text" class="text-box" placeholder="Character Name" data-ng-model="search.nameInput" ng-keyup="$event.keyCode == 13 ? search.getNewCharacter() : null"/>
      </div>

      <div class="row">
        <div data-ng-click="search.getNewCharacter()" class="btn btn-success">Search!</div>
      </div>
    </div>
    
  </div>
</div>
