<ul class="nav">
      <li><a class="link btn" data-ui-sref=".search">Search</a></li>
      <div ng-show="sidenav.getName()">
        <li><a class="link btn" data-ui-sref=".stats">Stats</a></li>
        <li><a class="link btn" data-ui-sref=".talents">Talents</a></li>
        <li><a class="link btn" data-ui-sref=".gear">Gear</a></li>
        <li><a class="link btn" data-ui-sref=".facts">Random Facts</a></li>
        <li><a class="link btn" data-ui-sref=".editor">Character Editor</a></li>
      </div>
</ul>