<div class="char-main-view">
  <div class="row">
    <div class="text-center" data-ng-show='stats.character.hasStats()'>

      <div class="col-xs-12 col-lg-4">
        <div class="row sub-title">Primary</div>
        <div class="row stat">
          <div class="col-xs-6 text-right">Health:</div>
          <div class="col-xs-6 text-left">{{stats.format.shortNumberWithSuffix(stats.cStats.health)}}</div>
        </div>
        <div class="row stat">
          <div class="col-xs-6 text-right">Stamina:</div>
          <div class="col-xs-6 text-left">{{stats.format.commafy(stats.cStats.stamina)}}</div>
        </div>
        <div class="row stat">
          <div class="col-xs-6 text-right">Strength:</div>
          <div class="col-xs-6 text-left">{{stats.format.commafy(stats.cStats.strength)}}</div>
        </div>
        <div class="row stat">
          <div class="col-xs-6 text-right">Agility:</div>
          <div class="col-xs-6 text-left">{{stats.format.commafy(stats.cStats.agility)}}</div>
        </div>
        <div class="row stat">
          <div class="col-xs-6 text-right">Intellect:</div>
          <div class="col-xs-6 text-left">{{stats.format.commafy(stats.cStats.intellect)}}</div>
        </div>
      </div>

      <div class="col-xs-12 col-lg-4">
        <div class="row sub-title">Secondary</div>
        <div class="row stat">
          <div class="col-xs-6 text-right">Critical Strike:</div>
          <div class="col-xs-6 text-left">{{stats.format.commafy(stats.cStats.critRating)}} ({{stats.cStats.crit.toFixed(2)}}%)</div>
        </div>
        <div class="row stat">
          <div class="col-xs-6 text-right">Haste:</div>
          <div class="col-xs-6 text-left">{{stats.format.commafy(stats.cStats.hasteRating)}} ({{stats.cStats.haste.toFixed(2)}}%)</div>
        </div>

        <div class="row stat">
          <div class="col-xs-6 text-right">Mastery:</div>
          <div class="col-xs-6 text-left">{{stats.format.commafy(stats.cStats.masteryRating)}} ({{stats.cStats.mastery.toFixed(2)}}%)</div>
        </div>

        <div class="row stat">
          <div class="col-xs-6 text-right">Versatility:</div>
          <div class="col-xs-6 text-left">{{stats.format.commafy(stats.cStats.versatilityRating)}} ({{stats.cStats.versatility.toFixed(2)}}%)</div>
        </div>
      </div>

      <div class="col-xs-12 col-lg-4">
        <div class="row sub-title">Defensive</div>
        <div class="row stat">
          <div class="col-xs-6 text-right">Armor:</div>
          <div class="col-xs-6 text-left">{{stats.format.commafy(stats.cStats.armor)}}</div>
        </div>
        <div class="row stat">
          <div class="col-xs-6 text-right">Block:</div>
          <div class="col-xs-6 text-left">{{stats.cStats.block.toFixed(2)}}%</div>
        </div>
        <div class="row stat">
          <div class="col-xs-6 text-right">Dodge:</div>
          <div class="col-xs-6 text-left">{{stats.cStats.dodge.toFixed(2)}}%</div>
        </div>
        <div class="row stat">
          <div class="col-xs-6 text-right">Parry:</div>
          <div class="col-xs-6 text-left">{{stats.cStats.parry.toFixed(2)}}%</div>
        </div>
      </div>

    </div>
  </div>
</div>
