html,body {
    background-color: black;
}

.container.main {
    align-self: center;
    width: 100%;
    padding: 10px;
    color: white;
    font-size: 14pt;
    min-height: 100vh;
    height: 100%;
}

.container {
    margin: 0;
    width: 100%;
}

.row {
    margin: 20px;
}

a.link {
    color: deepskyblue;
    cursor: pointer;
}

.navbar, .sidenav {
    padding: 20px;
    background-color: darkblue;
}

.navbar a, .sidenav a {
    font-size: 16pt;
    color: red;
    background-color: black;
    margin-right: 50px;
}

.full-page {
    height: 100%;
}

.sidenav {
    align-items: stretch;
    height: 80vh;
}

input {
    color:black;
}

.avatar {
    width: 200px;
}