.container.main {
    align-self: center;
    width: 100%;
    color: white;
    font-size: 14pt;
    min-height: 100vh;
    height: 100%;
    background-color: black;
}

.row.full-page {
    height: 100%;
    margin: 0;
}

.container {
    margin: 0;
    width: 100%;
}

.row {
    margin: 20px;
}

li {
    margin-bottom: 10px;
}

.navbar-header, .sidenav {
    padding: 20px;
    background-color: darkblue;
    border: 5px solid transparent;
    border-radius: 12px;
}

.navbar-header a, .sidenav a {
    font-size: 16pt;
    color: red;
    background-color: black;
}
.navbar-header a:hover, .navbar-header a:focus,
.sidenav a:hover, .sidenav a:focus {
background-color: #eee;
}

.navbar-header {
    width: 100%;
}

.navbar-header a {
    margin-right: 50px;    
}


.sidenav {
    align-items: stretch;
    height: 80vh;
}

input.text-box {
    color:black;
}

.avatar {
    width: 200px;
}