<div class="char-main-view text-center">
  <div class="row">
    <div class="col-xs-12">
      <div class="row sub-title">Random Facks</div>
      <div class="row facts"></div>

      <div data-ng-show='facts.character.hasFacts()'>
        <div class="row facts">{{facts.facts.length}} random fun facts about this character!</div>
        <div class="row sub-title">
          <div class="col-xs-12">Fact # {{facts.fact[0]}}:</div>
        </div>

        <div class="row facts">
          <div class="col-xs-12">{{facts.fact[1]}}:</div>
        </div>

        <div class="row facts">
          <div class="col-xs-12">{{facts.fact[2]}}</div>
        </div>

        <button class='btn btn-success' ng-click="facts.getRandomFact();">Get Another</button>
      </div>
    </div>
  </div>
</div>