<div>
  
  <div id="char-main-view" class="col-xs-9">
    
    <div id="char-header" class="row navbar-header" data-ui-view="charheader"></div>
    <div data-ui-view></div>
    
  </div>

  <div class="col-xs-3 sidenav">
    <ul class="nav">
      <li><a class="link btn" data-ui-sref=".main">Search</a></li>
      <li><a class="link btn" data-ui-sref=".stats">Stats</a></li>
      <li><a class="link btn" data-ui-sref=".talents">Talents</a></li>
      <li><a class="link btn" data-ui-sref=".gear">Gear</a></li>
      <li><a class="link btn" data-ui-sref=".facts">Random Facts</a></li>
      <li><a class="link btn" data-ui-sref=".editor">Character Editor</a></li>
    </ul>
  </div>
    
</div>
