<div>
  <div class="char-sub-view">

    <div class="row skip-row"></div>

    <div class="row"></div>
    <div class="row"></div>

    <div class="row">
      <div class="col-xs-2 col-md-3 col-lg-4"></div>
      <input type="text" class="col-xs-4 col-md-3 col-lg-2 text-box text-center" placeholder="Server" data-ng-model="sim.realmInput" ng-keyup="$event.keyCode === 13 ? sim.submitSimulation() : null"/>
      <input type="text" class="col-xs-4 col-md-3 col-lg-2 text-box text-center" placeholder="Character Name" data-ng-model="sim.nameInput" ng-keyup="$event.keyCode === 13 ? sim.submitSimulation() : null"/>
    </div>

    <div class="row">
      <div class="col-xs-5"></div>
      <div data-ng-click="sim.submitSimulation()" id="search-btn" class="btn btn-default col-xs-2">Simulate!</div>
    </div>
    
    <div class="col-xs-1 col-md-3"></div>
    <div class="col-xs-10 col-md-6">
      <div class="row spacer">
         <div class="col-xs-3 tab" data-ng-repeat="job in sim.job_ids" data-ng-class="sim.tabIsSelected(job) ? 'selected' : ''">
           <div class="btn col-xs-9" data-ng-click="sim.setCurrentJob(job)">#{{ job }}</div>
           <div class="btn col-xs-1" data-ng-click="sim.removeJob(job)">x</div>
         </div>
      </div>
      <div>
        <div class="row spacer">
          <div class="sim-info col-xs-5" data-ng-show="sim.current_job">Simulation # {{ sim.current_job.job_id }}</div>
          <div class="sim-info col-xs-4" data-ng-show="sim.current_job">Status: {{ sim.current_job.status }}</div>
        </div>
        <ul class="output-log">
          <li data-ng-repeat="line in sim.current_job.output track by $index">{{ line }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
