.container.main {
    align-self: center;
    width: 100%;
    color: #EEEEEE;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 14pt;
    min-height: 100vh;
    height: 100%;
    background-color: #111111;
}

.row.full-page {
    height: 100%;
    margin: 0;
}

.container.char-sub-view {
    margin: 0;
    width: 100%;
}

.row {
    margin: 20px;
}

li {
    margin-bottom: 10px;
}

#search-btn.btn {
    font-size: 14pt;
    font-weight: bold;
}

.navbar-header, .sidenav, .char-header {
    background-color: #111170;
    /*background-color: #881111;*/
    border: 5px solid transparent;
    border-radius: 12px;
}

a.link.btn {
    font-size: 14pt;
    font-weight: bold;
    background-color: #050505;
    width: 100%;
    padding:10px;
    border-radius: 12px;
}

a.link:hover, a.link:focus {
background-color: #eee;
}

.navbar-header, .char-header {
    width: 100%;
    margin: 10px;
    padding: 5px;
}

.navbar-header a {
    color: #CCCCCC;
    margin-bottom: 10px;
}

.col-xs-3.sidenav {
    margin-top: 10px;
    padding: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    float: right;
    display: block;
    min-height: 135px;
}

.sidenav a {
    color: green;
    height: 50px;
    line-height: 30px;
}

.title-bar {
    font-size: 24pt;
    margin-top: 20px;
}

input.text-box {
    color:black;
}

div.avatar-slot{
    height: 200px;
}

.avatar {
    width: 200px;
    height: 200px;
    border: 5px solid transparent;
    border-radius: 30px;
}

#char-header {
    padding-left: 20px;
    margin-left: 0;
    margin-right: 15px;
    height: 135px;
}

#char-main-view {
    padding: 0;
    padding-right: 15px;
}

.text-box {
    border: 2px solid black;
    border-radius: 5px;
}

.text-row {
    height: 26px
}

.char-header .row {
    margin-top: 10px;
};

.thumbnail-sm-slot {
    height: 96px;
    padding-top: 20px;
}

.thumbnail-sm {
    height: 96px;
    border: 5px solid black;
    border-radius: 50px;
}

.row.skip-row {
    margin: 0;
}